body {
	background-color: #ffeb3b
}

#title {
	text-indent: 229px;
	color: #47bf4c;
	font-size: 32px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
}

#lives {
  color:#47bf4c;
  position: relative;
  top: 378px;
  left: 368px;
  border-radius: 10px;
  background: yellow;
  width: 78px;
  height: 49px;
  font-size: 18px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

#livesRemaining {
  color:#47bf4c;
  margin-top: 9px;
}

.buttonDesign {
  color:#47bf4c;
  position: relative;
  top: -39px;
  left: 99px;
  border-radius: 20px;
  background-color: yellow;
  width: 72px;
  height: 33px;
  font-size: 14px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

#canvasStyling {
	border: solid;
    border-width: 8px;
    margin-top: -20px;
    margin-left: -3px;
}

@media screen and (max-width: 600px) {
	#canvasStyling{
		width: 94%;
		margin-left: 0px;
	}
}

@media screen and (max-width: 600px) {
	.buttonDesign{
		width: 20%;
		margin-top: -50px;
		margin-left: -84px;
	}
}

@media screen and (max-width: 600px) {
	#title{
    width: 20%;
		margin-top: 7px;
		margin-left: -96px;
	}
}

@media screen and (max-width: 600px) {
  #lives{
    width: 20%;
    margin-top: -5px;
    margin-left: -336px;
  }
}
